@import url(/Dom/style.css);

body{
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    text-align: center;
    color: var(--color-lyrics);
    font-size: 2rem;
}

main{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

.alert-error, .alert-sucess{
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);

    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    padding: 15px;
    z-index: 1000;
    max-width: 80%;
    text-align: center;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.alert-error{
    background-color: #f8d7da;
    color: #721c24;
    border: 2px solid #f5c6cb;
}

.alert-sucess{
    background-color: #9bf092;
    color: #214e02;
    border: 2px solid #9bf092;
}

.alert-error p, .alert-sucess p{
    margin: 0;
    padding-right: 10px;
}

.register-products{
    border: 2px solid var(--bg-color);
    border-radius: 5px;
    background-color: rgb(168, 169, 170);
    width: 400px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
    margin-top: 50px;
    margin-left: 50px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    gap: 15px;
}

input{
    padding: 8px;
    border-radius: 5px;
    border: none;
}

input::placeholder{
    color: black;
}

.register-products p{
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 1.5rem;
}

#btnRegister{
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 8px;
    background: linear-gradient(to right, #79df35, #0f8add);
    border-radius: 5px;
    cursor: pointer;
}

#btnRegister:hover{
    background: linear-gradient(to right, #a9f29f, #4c99d6);
}

table{
    background-color: rgb(168, 169, 170);
    padding: 10px;
    width: 100%;
    margin-top: 20px;
    border: none;
    border-radius: 10px;
    overflow: hidden;
}

table th, table td{
    padding: 10px;
    text-align: center;
    border-radius: 8px;
    border: none;
    color: black;
}

table th{
    background-color: #a9f29f;
}

table tr{
    background-color: #4c99d6;
}

table tr:first-child th{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

table tr:last-child td{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

table th:last-child{
    background-color: white;
}

table td:nth-last-child(2){
    background-color: orange;
}

table td:nth-last-child(1){
    background-color: red;
}

#buttonDeleteProduct{
    background-color: red;
    font-size: 1rem;
    border-radius: 5px;
    border: none;
    transition: 0.7s ease;
    cursor: pointer;
}

#buttonDeleteProduct:hover{
    background-color: rgb(255, 255, 255);
}

#list-products p{
    font-size: 2rem;
    font-weight: bold;
    padding: 5px;
    background-color: #f8d7da;
    color: #721c24;
    border: 2px solid #f5c6cb;
    border-radius: 5px;
}