@import url(/Dom/style.css);

body{
    background-color: rgb(26, 141, 187);
}

main h1{
    margin: auto;
    margin-top: 10px;
    text-align: center;
    width: 450px;
    padding: 10px;
    border-radius: 5px;

    color: var(--color-lyrics);
    background-color: rgb(0, 0, 0);
    box-shadow: 0 0 25px 0 black;
}

.alert-error, .alert-sucess{
    position: fixed;
    top: 10px;
    left: 80%;
    transform: translateX(-50%);

    display: flex;
    justify-content: space-evenly;
    align-items: center;

    border-radius: 5px;
    padding: 15px;
    z-index: 1000;
    max-width: 80%;
    text-align: center;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
}

.alert-error{
    background-color: #f8d7da;
    color: #721c24;
    border: 2px solid #f5c6cb;
}

.alert-sucess{
    background-color: #9bf092;
    color: #214e02;
    border: 2px solid #9bf092;
}

.alert-error p, .alert-sucess p{
    margin: 0;
    padding-right: 10px;
}

.register{
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   flex-direction: row;
}

.registerStudents{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;

    margin-top: 50px;
    width: 380px;
    height: 450px;
    border-radius: 5px;
    background-color: rgb(48, 47, 47);
    box-shadow: 0 0 25px 0 black;
    color: var(--color-lyrics);
}

.registerStudents h2{
    font-weight: bold;
    font-size: 1.5rem;
}

.registerStudents input{
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    padding: 10px;
    border-radius: 5px;
}

.registerStudents button{
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    padding: 10px;
    border-radius: 5px;
    background-color: var(--color-lyrics);
    cursor: pointer;
    transition: 0.7s ease;
}

.registerStudents button:hover{
    background-color: black;
    color: var(--color-lyrics);
}

table{
    background-color: rgb(48, 47, 47);
    box-shadow: 0 0 25px 0 black;
    padding: 10px;
    width: 100%;
    margin-top: 20px;
    border: none;
    border-radius: 10px;
    overflow: hidden;
}

table th, table td{
    padding: 10px;
    text-align: center;
    border-radius: 8px;
    border: none;
    color: black;
}

table th{
    background-color: blue;
    color: white;
}

table tr{
    background-color: rgb(39, 212, 212);
}

table tr:first-child th{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

table tr:last-child td{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

table td:last-child{
    background-color: red;
}

table td:nth-last-child(2){
    background-color: rgb(231, 136, 11);
}

.buttonEditStudent, .buttonDeleteStudent{
    padding: 2px;
    border: none;
    border-radius: 5px;
    background-color: transparent;
    cursor: pointer;
    transition: 0.7s ease;
}

.buttonEditStudent:hover, .buttonDeleteStudent:hover{
    background-color: gray;
}

.list-students p{
    background-color: #f8d7da;
    color: #721c24;
    border: 2px solid #f5c6cb;
    box-shadow: 0 0 25px 0 #f5c6cb;
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
}